<h1><%= @car_category.name %></h1>
<p> Detalhes </p>
<ul>
    <li>Taxa Diaria: <%= @car_category.daily_rate %></li>
    <li>Seguro: <%= @car_category.car_insurance%></li>
    <li>Seguro de terceiros: <%= @car_category.third_party_insurance%>
</ul>
<%= link_to 'Voltar', car_categories_path %>
