<h1>Editar um fabricante</h1>

<% @manufacturer.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with(model: @manufacturer, local: true) do |m| %>
  <%= m.label :name, 'Nome' %>
  <%= m.text_field :name %>
  <%= m.submit 'Enviar' %>
<% end %>
